<div class="login-container">
    <mat-card class="login-card">
      <mat-card-header>
        <mat-card-title>
          <h2>Recuperar Contraseña</h2>
          <p>Ingresa tu correo para enviar un c&oacute;digo de verificaci&oacute;n</p>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="onLoginSubmit(form.value)">
          <app-form [fields]="loginFields" [form]="form" (submitForm)="onLoginSubmit($event)"></app-form>
          <br>
          <button mat-raised-button color="accent" type="submit">{{addVerificationCode ? 'Cambiar Contraseña' : 'Enviar Código'}}</button>
        </form>
        <br>
        <button mat-raised-button type="button" (click)="loginPage()">Iniciar Sesión</button>
      </mat-card-content>
    </mat-card>
  </div>
  <app-footer></app-footer>
  