.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url(../../../../assets/background.png);
    background-repeat: repeat;
    background-position: center;
    background-size: contain;
  }

.login-card {
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

mat-card-header {
    text-align: left;
}

.login-button {
    width: 100%;
    border-radius: 5px;
}

mat-form-field {
    width: 100%;
}

h2 {
    color: white;
}

p {
    color: rgba(255, 255, 255, 0.658);
    font-size: medium;
    margin-bottom: 16px;
}
