<div class="modern-edit-organization-container">
  <div class="form-header">
    <div class="header-icon">
      <mat-icon>edit</mat-icon>
    </div>
    <div class="header-text">
      <h1 class="dialog-title">Editar Organización</h1>
      <p class="dialog-subtitle">Formulario para modificar información de la organización</p>
    </div>
  </div>

  <div class="dialog-body">
    <form class="organization-form">
      <div class="form-row">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Nombre de la Organización</mat-label>
          <input matInput
                 [(ngModel)]="organizationName" 
                 name="organizationName"
                 placeholder="Ej. Empresa ABC S.A.S"
                 required>
          <mat-error *ngIf="!organizationName">
            El nombre es obligatorio
          </mat-error>
        </mat-form-field>
      </div>

      <div class="form-row">
        <mat-form-field appearance="outline" class="form-field">
          <mat-label>Director</mat-label>
          <mat-select [(ngModel)]="directorID" name="directorID">
            <mat-option value="" disabled>Seleccionar director</mat-option>
            <mat-option *ngFor="let director of directors" [value]="director._id">
              {{ director.firstName }} {{ director.lastName }}
            </mat-option>
          </mat-select>
          <mat-hint>Selecciona un director para la organización</mat-hint>
        </mat-form-field>
      </div>
    </form>
  </div>

  <div class="dialog-actions">
    <button type="button" class="cancel-btn" mat-dialog-close (click)="onClose()">
      <mat-icon>close</mat-icon>
      Cancelar
    </button>
    <button type="button" 
            class="save-btn" 
            (click)="save()"
            [disabled]="!organizationName || !isFormChanged()">
      <mat-icon>save</mat-icon>
      Actualizar Organización
    </button>
  </div>
</div>
