.container {
  display: flex;
  justify-content: center;
  align-items: center;
}


h2 {
  color: #ffffff
}

.edit-card {
  width: 100%;
  max-width: 600px;
  margin: 20px;
}

form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 16px;
}

mat-form-field {
  width: 100%;
}



@media (max-width: 600px) {
  form {
    grid-template-columns: 1fr;
  }
}