p {
    margin: 0;
    padding: 0;
}

.cursorPointer:hover {
    cursor: pointer;
}


.pending,
.rated {
    text-align: center;
    border-radius: .2rem;
}

.pending {
    background-color: rgba(255, 0, 0, 0.541);
}

.rated {
    background-color: rgba(0, 255, 0, 0.459);
}