.container {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent !important;
}

.no-match-msg {
  color: red;
}


h2 {
  color: #ffffff
}

.create-ticket {
  width: 100%;
  max-width: 600px;
  margin: 20px;
}

form {
  display: grid;
  grid-template-columns: 1fr;
  gap: 16px;
}


mat-form-field {
  width: 100%;
}

@media (max-width: 600px) {
  form {
    grid-template-columns: 1fr;
  }
}
