<mat-toolbar>
  <span class="spacer"></span>
  <button mat-raised-button (click)="addDepartment()">
    <mat-icon>add</mat-icon>
    Agregar nuevo
  </button>
</mat-toolbar>

<app-material-table [dataSourceMat]="dataSourceMat" [displayedColumns]="displayedColumns">
<table mat-table [dataSource]="dataSourceMat" class="mat-elevation-z8" matSort>
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
    <td mat-cell *matCellDef="let department"> {{ department.name }} </td>
  </ng-container>

  <ng-container matColumnDef="organization">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Organización </th>
    <td mat-cell *matCellDef="let department"> {{ department.organization.name }} </td>
  </ng-container>

  <ng-container matColumnDef="firstName">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Encargado </th>
    <td mat-cell *matCellDef="let department">
      {{ department.owner?.firstName }} {{ department.owner?.lastName }}
    </td>
  </ng-container>

  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef> Acciones </th>
    <td mat-cell *matCellDef="let element">
      <a class="cursoPointer" (click)="editDepartment(element)" style="color: #ffff00; margin-right: 10px">
        <mat-icon matTooltip="Editar departamento">edit_document</mat-icon>
      </a>
      <a class="cursoPointer" *ngIf="!element?.isEnabled" (click)="activateDepartment(element._id, element.isEnabled)" style="color: #00bb2d; margin-right: 10px">
        <mat-icon matTooltip="Activar departamento">check_circle</mat-icon>
      </a>
      <a class="cursoPointer" *ngIf="element?.isEnabled" (click)="activateDepartment(element._id, element.isEnabled)" style="color: #b50811; margin-right: 10px;">
        <mat-icon matTooltip="Desactivar departamento">cancel</mat-icon>
      </a>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</app-material-table>
