$primary-color: black;
$secondary-color: #263141;
$bg-color: #424242;
$spinner: #ff3d00;
$action-hover: #f44336;


h1 {
    font-size: 1.5rem;
}

h2 {
    font-size: 1.1rem;
}


h3 {
    font-size: .9rem;
}


h4 {
    font-size: .9rem;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    font-weight: 700;
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
    word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: break-word;
    overflow: hidden;
    white-space: normal;
}


mat-icon {
    margin: 0;
    padding: 0;
}

.ticket-container {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    height: 100%;
    padding: 1rem;
}

.ticket-section {
    scroll-snap-align: center;
    background-color: #424242b2;
    border-radius: .5rem;
}


.ticket-details-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    border-radius: 8px;
    padding: 1rem;
}

.ticket-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}

.title {
    display: flex;
    align-items: center;
}

.space-between {
    justify-content: space-between;
}

.left {
    justify-content: left;
}

.button-share {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border: solid 1px transparent;
    color: white;
    border-radius: 50%;
    cursor: pointer;
}


.button-share mat-icon {
    font-size: 1.3rem;
}


.ticket-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 1rem;
}


.ticket-details-section {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.ticket-details-item {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap; /* Permite que el contenido se ajuste */
}

.item {
    display: flex;
    align-items: center;
    border: solid 1px transparent;
    padding: .1rem .5rem;
}

.item-key {
    background: black;
    border-radius: 8px 0 0 8px;
    border: solid 1px black;
}


/*.item-value {
    background: transparent;
    border: solid 1px black;
    border-radius: 0 8px 8px 0;
    font-weight: 400;
}*/

.item-value {
    background: transparent;
    border: solid 1px black;
    border-radius: 0 8px 8px 0;
    font-weight: 400;
    white-space: normal; /* Permite saltos de línea */
    word-wrap: break-word; /* Rompe palabras largas */
    overflow-wrap: break-word; /* Alternativa para romper palabras */
    max-width: 100%; /* Asegura que el ancho no sea mayor al contenedor */
    display: block; /* Asegura que el elemento pueda expandirse en altura */
}

.status-red {
    background-color: #e53935; /* rojo fuerte */
   
  }
  
  .status-green {
    background-color: #43a047; /* verde */
  
  }

.item-value-desc{
    max-width: 85%;

}

main {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: transparent;
    border-radius: 8px;
}


.chat-container {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: .3rem;
    overflow-y: auto;
    height: auto;
    max-height: 70vh;
}



.message-container {
    display: grid;
    grid-template-rows: repeat(3, auto);
    align-items: center;
    position: relative;
    gap: .5rem;
    padding: .15rem .8rem;
    max-width: 40%;
    border-radius: 8px;
    box-shadow: 0px 0px 25px 0px rgba(0,0,0,0.3);
    margin-bottom: 1rem;
    scroll-snap-align: center;
}


.message-header {
    display: flex;
    justify-content: space-between;
    column-gap: 1rem;
}


.message-menu {
    background-color: transparent;
    border: none;
    color: white;
    margin: 0;
    padding: 0;
}

.message-menu mat-icon {
    font-size: large;
}


.message-menu:hover {
    cursor: pointer;
}


.my-message {
    align-self: flex-end;
}

.my-message, .other-file {
    background-color: $secondary-color;
}

.other-message {
    align-self: flex-start;
}


.other-message, .my-file {
    background-color: $primary-color;
}

.system-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: .5rem;
    background-color: transparent;
    margin-bottom: 1.5rem;
}

.my-message::after {
    content: "";
    position: absolute;
    top: 10px;
    right: -7px;
    width: 0;
    height: 0;
    border-left: 8px solid $secondary-color;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
}

.other-message::after {
    content: "";
    position: absolute;
    top: 10px;
    left: -7px;
    width: 0;
    height: 0;
    border-right: 8px solid $primary-color;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
}


.message-author {
    font-size: smaller;
}


.message-text {
    font-size: medium;
    max-width: 100%;
    white-space: pre-wrap;
}


.message-img, .message-video, .message-pdf {
    justify-self: center;
    background-color: $bg-color;
    border: none;
    border-radius: 8px;
    width: 100%;
    height: 100%;
    max-height: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    cursor: pointer;
}


.message-other {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 5rem;
    border: none;
    border-radius: .5rem;
    cursor: pointer;
}


.message-info {
    display: flex;
    justify-content: space-between;
    column-gap: 1rem;
    font-size: x-small;
    font-style: italic;
}


.send-message-container {
    display: flex;
    justify-content: space-between;
    column-gap: 1.5rem;
    padding: 1.5rem 1rem;
    background: #000;
    border-radius: 0 0 7px 7px;
}


.container-message{
    width: 100%;
}

.input-message {
    background-color: transparent;
    text-decoration: none;
    width: 100%;
    max-height: 6.4rem;
    font-size: 1.2rem;
    color: white;
    padding: .2rem .5rem;
    border: none;
    resize: vertical;

}

.input-message-file{
    width: 100%;
    max-height: 6.4rem;
    padding: .2rem .5rem;
    resize: vertical;
}


.input-message:focus {
    outline: none;
}


.button-container {
    display: flex;
    column-gap: 1rem;
}

.button-send {
    display: flex;
    align-items: center;
    background: transparent;
    border: none;
    cursor: pointer;
    color: $bg-color;
}


.button-send mat-icon {
    font-size: 1.5rem;
}


.button-send:hover {
    color: white;
    transition: .3s ease;
}

.fileInput {
    display: none;
}

footer {
    display: flex;
    flex-direction: column;
    row-gap: 2rem;
    background: transparent;
    border-radius: 8px;
    padding: 2rem 1rem;
}


.action-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 1rem;
    border: none;
    border-radius: 5px;
    background: $primary-color;
    color: white;
    padding: .5rem 1rem;
    cursor: pointer;
    max-width: 45%;
}


.action-button:hover {
    background: $secondary-color;
    transition: .3s ease;
}


.file-viewer {
    //position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    left: 1rem;
    width: 30%;
    background: transparent;
    border-radius: 8px;
}


.preview-image,
.preview-video,
.preview-pdf,
.preview-txt,
.preview-other {
    object-fit: unset;
    width: 100%;
    height: 100%;
    max-height: 90%;
    border-radius: .5rem;
    border: none;
}

.preview-image,
.preview-video,
.preview-other {
    cursor: pointer;
}

.preview-txt {
    background-color: $primary-color;
    overflow: auto;
}


.preview-txt p {
    padding: 1rem;
    max-width: 100%;
    word-wrap: break-word;
}


.preview-other {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary-color;
}


.preview-other-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    column-gap: 2rem;
    max-width: 100%;
    color: white;
}


.preview-other-item h3 {
    text-decoration: none;
    font-weight: 400;
}


.preview-other-item h4 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    font-weight: 400;
}

.preview-other-item mat-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

.delete-file {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: .5rem;
    padding: .5rem;
    border: none;
    border-radius: .5rem;
    background-color: $primary-color;
    cursor: pointer;
}


.delete-file mat-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $bg-color;
    font-size: 2rem;
}


.delete-file:hover mat-icon {
    color: white;
    transition: .3s ease;
}

//? Status Classes

.OPEN {
    background: white;
    color: black;
    border: none;
}


.ASSIGNED {
    background: rgb(0, 55, 128);
    color: white;
    border: none;
}

.IN_PROCESS {
    background: rgb(17, 135, 156);
    color: white;
    border: none;
}

.STOPPED, .LOW {
    background: red;
    color: white;
    border: none;
}

.ON_HOLD, .MEDIUM {
    background: yellow;
    color: black;
    border: none;
}

.CLOSED, .HIGH {
    background: green;
    color: white;
    border: none;
}

.CANCELED
{
  background: #b50811 !important;
  color: white;
  border: none;
}

.Restrasado
{
  background-color: #b50811;
  color: white;
  border: none;
}

.tiempo{
  background-color: darkgreen;
  color: white;
  border: none;
}

.Falta{
  background-color: #263141;
  color: white;
  border: none;
}

.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10rem;
}

.loader {
    width: 16rem;
    height: 16rem;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    background: linear-gradient(0deg, rgba(255, 61, 0, 0.2) 33%, $spinner 100%);
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
}

.loader::after {
    content: '';
    box-sizing: border-box;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    background: $bg-color;
}


@keyframes rotation {
    0% { transform: rotate(0deg) }
    100% { transform: rotate(360deg)}
}


@media (max-width: 600px) {
    h1 {
        font-size: 1.1rem;
    }

    h2 {
        font-size: .9rem;
    }


    h3 {
        font-size: .7rem;
    }


    h4 {
        font-size: .7rem;
    }

    p {
        font-size: .5rem;
    }

    .chat-container {
        padding: 1rem;
    }

    .message-container {
        max-width: 60%;
    }

  .ticket-details{
    gap: 0;
  }

  .ticket-details-item h3{
    margin: 5px 0 ;
  }
  .ticket-details-section {
    gap: 0;
  }

  .ticket-details-container{
    gap: 1rem;
  }

  .button-container{
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 1rem;
  }
  .action-button{
    max-width: 70%;
  }
  .send-message-container{
    display: block;
  }
}

@media (min-width: 601px) and (max-width: 720px) {
    h1 {
        font-size: 1.5rem;
    }

    h2 {
        font-size: 1.1rem;
    }


    h3 {
        font-size: .9rem;
    }


    h4 {
        font-size: .7rem;
    }

    p {
        font-size: .5rem;
    }

    .chat-container {
        padding: 1rem;
    }

    .message-container {
        max-width: 50%;
    }
}

@media (min-width: 721px) and (max-width: 1024px) {
    .chat-container {
        padding: 1rem 5rem;
    }

    .message-container {
        max-width: 50%;
    }
}

@media (min-width: 1025px) and (max-width: 1300px) {
    .chat-container {
        padding: 1rem 5rem;
    }

    .message-container {
        max-width: 50%;
    }
}

@media (min-width: 1301px) and (max-width: 1600px) {
    .chat-container {
        padding: 1rem 5rem;
    }
}


@media (min-width: 1601px) {
    .chat-container {
        padding: 1rem 5rem;
    }
}

@media (max-width: 1301px) { /* Para pantallas más pequeñas, como tablets y móviles */
    .item-value-desc {
        max-width: 95%;
        margin-top: 2px;
        border-radius: 8px;
    }

    .item-key-desc {
        border-radius: 8px;
    }
}

@media (max-width: 480px) { /* Para móviles más pequeños */
    .item-value-desc {
        max-width: 95%; /* Ocupará todo el ancho disponible */
    }
}

